[submodule "model-backend"]
	path = model-backend
	url = https://github.com/Titanic-AI/model-backend.git
	branch = main

[submodule "web-backend"]
	path = web-backend
	url = https://github.com/Titanic-AI/web-backend.git
	branch = main

[submodule "web-frontend"]
	path = web-frontend
	url = https://github.com/Titanic-AI/web-frontend.git
	branch = main

